body{
    margin: 0;
    font-family: Arial, sans-serif;
    font-size: 0.9em;
    background-color: rgb(32, 33, 36)
}

a{
    margin: 5px;
    text-decoration: none;
    color: white;
}

a:hover {
    text-decoration: underline;
}

nav{
    display: flex;
    justify-content: space-between;
}

.header-nav{
    display: flex;
    align-items: center;
    padding-left: 20px;
    margin-right: 10px;
}

ul > a, ul > img{
    padding: 0 8px;
}

.header-img{
    border-radius: 20px;
    cursor: pointer;
    width: 20px;
    height: 20px;
}

.icon{
    width: 10;
    height: 10;
    background-color: green;
    color: white;
    font-size: 50px;
    font-weight: 600;
    border-radius: 600px;
}
section{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5vh;
}

h1{
    font-family: Century Gothic;
    font-size: 5.5em;
    text-align: center;
    color: white;
}

.my-input-container{
    display: flex;
    justify-content: space-between;
    width: 600px;
    height: 38px;
    border: 1px solid gainsboro;
    border-radius: 50px;
}

.my-input-container:hover{
    box-shadow: 0 0 10px 0 black;
}

.my-input-container > input{
    flex-grow: 1;
    outline: none;
    background-color: rgb(32, 33, 36);
    border: none;

}

img:hover{
    cursor: pointer;
}

.my-button-container{
    padding-top: 53px;
}

button{
    color: white;
    background-color:rgb(32, 33, 36);
    border-radius: 8px;
    height: 36px;
    padding: 0 20px;
    margin: 0 4px;
    border-style: solid;
    border: 1px Solid gainsboro;
}

button:hover{
    cursor: pointer;
    box-shadow:  0 0 10px 0 black;
}

footer{
    position: relative;
    bottom: 0;
    width: 100vw;
    background-color: rgb(18, 18, 18);
}

#footer-left{
    display: flex;
    justify-self: start;
    padding-left: 20px;
    align-items: center;
}

#footer-center{
    display: flex;
    justify-items: center;
    align-items: center;
}

#footer-right{
    display: flex;
    justify-content: flex-end;
    margin-right: 20px;
    align-items: center;
}